:root {
    --primary-color: #3ff312;
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --font-main: "Inter", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
}

#app {
    position: relative;
    z-index: 1;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
