body {
    font-family: var(--font-main, "Poppins", sans-serif);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
}

/* ===============BUTTON =============== */

.start-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 16px;
    text-decoration: none;
    font-size: clamp(20px, 3vw, 28px);
    font-weight: 800;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
    cursor: pointer;
}

.start-btn:hover {
    background-color: var(--primary-hover);
}

/* ===============GLOBAL =============== */

.first-home-img {
    width: 40vw;
    height: 40vw;
    margin: 0;
    object-fit: cover;
    border-radius: 2vw;
}

.home-title {
    font-size: clamp(40px, 8vw, 90px);
    font-weight: 800;
    margin: 0;
    color: var(--primary-color);
}

/* ===============HOME PAGE 1 =============== */

.home-contaner-1 {
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    height: 90dvh;
    align-items: center;
    margin-top: 10dvh;
    justify-content: space-between;
}

.home-description {
    font-size: clamp(16px, 2.5vw, 22px);
    font-weight: 400;
    color: var(--text-color);
}

.home-presantation-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0;
}

/* ===============HOME PAGE 2 =============== */

.home-contaner-2 {
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    height: 100dvh;
    align-items: center;
    justify-content: space-between;
}

.home-info-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0;
    text-align: right;
}

.home-info {
    font-size: clamp(16px, 2.5vw, 22px);
    font-weight: 400;
    color: var(--text-color);
}


/* =============== RESPONSIVE =============== */
@media (max-width: 768px) {
    .home-contaner-1,
    .home-contaner-2 {
        flex-direction: column;
        height: auto;
        padding: 5vh 5vw;
        gap: 2rem;
    }

    .home-contaner-1 {
        margin-top: 15dvh;
    }

    .home-presantation-container,
    .home-info-container {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .first-home-img {
        width: 80vw;
        height: 80vw;
        border-radius: 4vw;
        padding: 0;
    }

    .start-btn {
        padding: 8px 16px;
    }
}
